/* Colores */

:root {
  --color-orange: #d79551;
  --color-black: #2c2c2c;
  --color-white: #f5eee1;
  --color-blue: #60879e;
  --color-red: #c36961;
  --color-green: #609e87;
  --color-grey: #c4c0c2;
  --color-brown: #583e26;
}

/* Estilos generales para el body */

body {
  background: var(--color-white);
  color: var(--color-black);
}

section {
  padding-top: 4vh;
  height: auto;
  margin: 0 7rem;
  box-sizing: border-box;
  min-height: fit-content;
}
