.container {
  position: relative;
  margin: 3rem 0;
}

.container p {
  display: flex;
  justify-content: center;
  font-size: large;
  border-top: solid var(--color-black);
  width: 90%;
  margin: auto;
  text-align: center;
}

.p {
  padding-top: 1rem;
}

.social_networks {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.a {
  text-decoration: none;
  color: var(--color-black);
}
