.container {
  position: relative;
  margin: 30px 0;
}

.container p {
  display: flex;
  justify-content: center;
  font-size: large;
}

.social_networks {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
