.label {
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: x-large;
}

.input {
  height: 45px;
  border-radius: 0.5rem;
  background-color: var(--color-grey);
  border: none;
  margin-bottom: 5px;
  outline: none;
  font-size: 25px;
  color: var(--color-black);
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
  margin: 30px auto;
  background-color: var(--color-black);
  width: 30%;
  padding: 10px;
  color: var(--color-white);
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--color-grey);
  color: var(--color-black);
}
